@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplay-Semibold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-Bold.ttf");
  font-weight: 700;
}

body {
  font-family: sans-serif;
  background-color: #F8FAFC;
  color: #0F172A;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  background-color: #090D16;
  color: #ffffff;
}